* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;

}
.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.promo {
    height: 800px;
    background: url('../img/2-layers.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "Roboto - Black";
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto - Black";
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300;
    font-family: Roboto;
    text-align: center;
    
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
    font-family: "Roboto - Bold";
}

.promo .promo_btn { 
    display: block; /*баттон по умолчанию инлайн блок*/
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18); /* первое внутрь, второе по оси Х, третье по оси У, четвертое прозрачность.*/
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    height: 72px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer; /*наводка*/
    outline: none; /*обводка*/
}

.more {
    margin-top: 73px;

}
.more .more_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto - Thin";
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    background-color: #efefef;
    height: 604px;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
}
.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    font-family: Roboto;

}

.waiting .waiting_wrapper {
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top; /*прижимаем строчно блочные элементы к одной линии*/
    width: 339px;
    text-align: center;

}
.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;/*устанавливаем  для картинки ширину 100% от родителя, на случай если картика изменится и чтобы блоки не поплыли. Если проставим высоту то пропорции изменятся*/
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}


