* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*1)шрифты для всего документа Удаленно с сервера гугл.Подключили в html через линк подключили в css для всего и в селекторах выставляем только font-weight: ;*/
/* html {
    font-family: 'Roboto', sans-serif;
} */

/*2)теперь прописываем для html чтобы подключенные шрифты работали*/
html {
    font-family: 'Roboto', sans-serif;
}
.container{
    position: relative; /* чтобы абсолютно спозиционировать картинку в блоке*/
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;

}
.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.promo {
    height: 800px;
    background: url('../img/2-layers.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.title {
    color: #f9bf3b;
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300;
    text-align: center;
    
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
    font-family: "Roboto - Bold";
}

.promo .promo_btn, .gift_btn{ 
    display: block; /*баттон по умолчанию инлайн блок*/
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18); /* первое внутрь, второе по оси Х, третье по оси У, четвертое прозрачность.*/
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    height: 72px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);

    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer; /*наводка*/
    outline: none; /*обводка*/
}

.more {
    margin-top: 73px;

}
.more .more_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    background-color: #efefef;
    min-height: 604px;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: white;
}
.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 300;
    text-align: center;

}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display:flex;
    justify-content: space-between;

}

.waiting .waiting_wrapper .waiting_item {
    /*прижимаем строчно блочные элементы к одной линии vertical-aline:top*/
    width: 339px;
    text-align: center;

}
.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;/*устанавливаем  для картинки ширину 100% от родителя, на случай если картика изменится и чтобы блоки не поплыли. Если проставим высоту то пропорции изменятся*/
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0  107px 0;
}
.optimization .optimization_header{
    margin-left: 391px;
    color: #299cbd;

    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
}
.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    font-family: "Roboto Light";
    font-weight: 300;
}
.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}
.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bot.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;

}
.finish .finish_wrapper .finish_item {

    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
}
.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
.gift {
    display: flex;
    justify-content: center;
    min-height: 628px;
    background-color: #efefef;
}

.gift .giftbox {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift .giftbox .gift_box_long {
    
    width:154px;
    display: flex;
    justify-content: flex-end;
}

.gift .descript {
    margin-top: 46px;
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 300;
    line-height: 43px;
}

.gift button {
    margin-top: 56px;
}

.webinar {
    min-height: 550px;
}

.webinar .webinar_img {
    width: 342px;
    margin: 0 auto;
    margin-top: 82px;

}

.webinar .first_webinar {
    color: #252525;
    font-size: 30px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 37px;
}
.webinar .september {
    margin-top: 30px;
    text-align: center;
    color: #299cbd;

    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;

}

.webinar .writing {
    color: #4a4a4a;

    font-size: 23px;
    font-weight: 300;
    text-align: center;
    margin-top: 26px;
}
.footbox {
    height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 0 0;

}
a {
    font-weight: 300;
    color: #888888;
}
.footbox .contacts {
    margin: 0 auto;
    width: 424px;
    height: 50px;

}
.footbox .contacts .number {
    text-align: center;
    color: #888888;
}


